::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
code {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 1px 4px 2px 4px;
	font-size: 15px;
	border-radius: 5px;
}
pre {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
pre code {
	background-color: transparent;
}
blockquote {
	color: rgba(255, 255, 255, 0.7);
	padding-left: 10px;
	margin-left: 5px;
	border-left: 4px solid rgba(255, 255, 255, 0.7);
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid rgb(255, 255, 255, 0.8);
	padding: 4px;
}
h1, h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 5px;
	margin-bottom: -5px;
}
.markdown {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: white;
	display: block;
	margin-top: -20px;
	width: 100%;
	word-wrap: break-word;
}
.editor {
    font: 16px/1 Fira Code, monospace;
	color: white;
	outline: none;
	display: none;
	white-space: pre-wrap;
}
.window {
	width: 100%;
	height: 300px;
	box-shadow: inset 0 0 2px yellowgreen;
}
.bOverlay {
	position: fixed;
    background-color: rgba(46, 52, 64, 0.5);
    font: 16px/1 Fira Code, monospace;
    color: white;
    transition-duration: 0.1s;
    outline: none;
    border: 2px solid #434C5E;
    padding: 5px;
    margin-top: 10px;
	z-index: 2;
	right: 10px;
	display: block;
}
.bOverlay:hover,
active {
	background-color: #434C5E;
}
